@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    background-color: #fffff4;
    display: flex;
    justify-content: center;
    font-family: 'Lugrasimo', cursive;
}

.red-background {
    background-color: #fe2825;
    width: calc(100vw - 45px);
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    position: absolute;
    overflow: scroll;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}

.menu {
    border-color: #222;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.mid-container-1,
.mid-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}

.mid-container-2 {
    padding-top: 6vh;
    font-size: 35px;
}

.address-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: #222;
    margin-top: 2px;
    margin-bottom: 0px;
}

.black-border {
    background-color: black;
    width: 100%;
    margin-top: 20px;
    font-size: 3px;
}

.sticky-sect {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #fe2825;
    padding-top: 5px;
    z-index: 1;
}

.stars {
    font-size: 30px;
}

@-webkit-keyframes bounce {
    0% {
    transform: translate(0px, 0px);
    }

    25%{
    transform: translate(0px, 10px); 
    }

    100% {
    transform: translate(0px, 0px);
    }
}

.bounce,
.page-selections {
    text-decoration: none;
    color: black;
}

.bounce {
    -webkit-animation: bounce 0.75s infinite;
    font-size: 50px;
    background-color: transparent;
    border: none;
}

.logo {
    width: 800px;
    margin: 8vh;
    margin-right: 7vw;
}

.menu-box,
.hookah-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33vw;
    height: 33vw;
    border-color: #222;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    padding: 5vw;
    gap: 3vh;
}

.our-menus,
.hookah-lounge {
    font-size: 35px;
    margin-top: 6vh;
}

.menu-image,
.hookah-image {
    background-color: black;
    width: 43vw;
    height: 43vw;
    border-color: #222;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}

.menu-image-and-box,
.hookah-image-and-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vh;
    margin-bottom: 5vh;
    gap: 4vw;
}

#destination-1,
#destination-2,
#destination-3 {
    padding-top: 10vh;
}

.view-menu {
    background-color: transparent;
    font-family: 'Lugrasimo', cursive;
    border-color: #222;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.para-2 {
    padding-top: 6vh;
}

.bold {
    font-weight: 900;
}

p {
    text-align: center;
}

.hours-sect {
    border-color: #222;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    padding: 2vw;
    padding-left: 6vw;
    padding-right: 6vw;
}
